.vital__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.vital__cta-content {
  display: flex;
  flex-direction: column;

  text-align: left;
  color: #fff;
}

.vital__cta-content p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  color: #0e0e0e;
}

.vital__cta-content h4 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 45px;
  font-weight: 800;
  color: #0e0e0e;
}

.vital__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.vital__cta-btn button {
  background: #ff4820;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .vital__cta {
    flex-direction: column;
  }

  .vital__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .vital__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .vital__cta-content h4 {
    font-size: 18px;
    line-height: 32px;
  }

  .vital__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
